*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* color: white; */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 60px;
    width: 100%;
    background:tomato;
    position: relative;
    z-index: 5;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;
}
.pages{
    width: 50%;
}
li{
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
select{
    background: tomato;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
button{
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: blueviolet;
    cursor: pointer;
}
.sidebar{
    width: 250px;
    height: 100vh;
    background: blueviolet;
    text-align: center;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
}

.sidebar>p{
    border-bottom: 1px solid gray;
    padding: 12px 0px;
}
.sidebarIconToggle{
    position: absolute;
    width: 22px;
    z-index:20;
    height: 22px;
    cursor: pointer;
    left: 25px;
    top: 20px;
    display: none;
}
input[type=checkbox]{
    position: absolute;
    z-index: 23;
    left: 25px;
    top: 20px;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
}

.openside{
    width: 250px;
    height: 100vh;
    background: blueviolet;
    text-align: center;
    transform: translateX(0px);
} 
.spinner{
    background: white;
    height: 3px;
    transition: all 0.3s ;
}
.spinner.middle,
.spinner.bottom{
    margin-top: 4px;
}

@media screen and (max-width: 850px) {
    .pages{
        display: none;
    }
    .logo{
        opacity: 0;
    }
    .sidebarIconToggle{
        display: block;
        margin-right: auto;
    }
    
  }
  @media screen and (min-width: 851px) {
   .sidebar{
    display: none;
   }
    
  }